@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

#root{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #07ffea;
  background: linear-gradient(180deg, rgba(7, 255, 234, 1) 0%, rgba(255, 255, 255, 1) 31%, rgba(255, 255, 255, 1) 92%, rgba(0, 64, 57, 1) 100%);
}

main{
  flex-grow: 1;
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.fondoContenedor{
  background: #02C4B4;
}
.fuenteTemperatura{
  font-size: 5rem;
  font-family: "Oswald", sans-serif;
    font-style: normal;
}
